{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">DASHBOARD</h2>
    <p class="text-center">Welcome, <strong>{{ username }}</strong>!</p>
    
    <div class="alert alert-success mt-4" role="alert">
        <h4 class="alert-heading">You're logged in!</h4>
        <p>This is a protected page. You can only see this because you logged in successfully.</p>
        <hr>
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
               <a class="text-white text-decoration-none  " href="{% url 'logout' %}">Log Out</a>
            </button>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card 1</h5>
                    <p class="card-text">Some quick example text to build on the card title.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card 2</h5>
                    <p class="card-text">Some quick example text to build on the card title.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Card 3</h5>
                    <p class="card-text">Some quick example text to build on the card title.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}